@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: 'Dosis', sans-serif;
  color: #eee;
}

.container {
  position: relative;
  height: 100vh;
  width: 600px;
  margin: 150px auto;
}

.simon-board {
  position: absolute;

  width: 640px;
  height: 640px;
  background-color: #000;
  border-radius: 50%;
  border: 10px solid black;
}

.segment {
  margin: 10px;
  width: 300px;
  height: 300px;
  float: left;
}

/* Game segments */

#top-left {
  border-top-left-radius: 300px;
  background-color: green;
}

#top-right {
  border-top-right-radius: 300px;
  background-color: red;
}

#bottom-left {
  border-bottom-left-radius: 300px;
  background-color: yellow;
}

#bottom-right {
  border-bottom-right-radius: 300px;
  background-color: blue;
}

/* Inner Circle */

.inner-circle {
  color: #333;
  text-align: center;
  position: absolute;
  background-color: silver;
  border: 20px solid black;
  height: 340px;
  width: 340px;
  border-radius: 340px;
  top: 140px;
  left: 140px;
}

.inner-circle h2 {
  padding-top: 40px;
  margin: 40px;
  font-size: 90px;
  font-weight: bold;
  text-decoration: underline;
}
