@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');

body {
  flex-direction: ;
  padding: 0;
  background-color: #333;
  font-family: 'Dosis', sans-serif;
  color: #eee;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 5rem;
  margin: 0;
}

.heading h3 {
  font-size: 3rem;
  margin: 0;
}

.container {
  height: 620px;
  width: 620px;
  margin: 0 auto;
}

.simon-board {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #000;
  border-radius: 50%;
  border: 10px solid black;
}

.segment {
  margin: 10px;
  width: 280px;
  height: 280px;
  float: left;
}

/* Game segments */

#green {
  border-top-left-radius: 300px;
  background-color: darkgreen;
}

#red {
  border-top-right-radius: 300px;
  background-color: darkred;
}

#yellow {
  border-bottom-left-radius: 300px;
  background-color: goldenrod;
}

#blue {
  border-bottom-right-radius: 300px;
  background-color: darkblue;
}

/* Inner Circle */

.inner-circle {
  color: #333;
  text-align: center;
  position: absolute;
  background-color: silver;
  border: 20px solid black;
  height: 300px;
  width: 300px;
  border-radius: 340px;
  top: 130px;
  left: 130px;
}

.inner-circle h2 {
  padding-top: 20px;
  margin: 20px;
  font-size: 90px;
  font-weight: bold;
  text-decoration: underline;
}

.score {
  position: inherit;
  left: 120px;
  bottom: 5px;
}

.score p {
  font-weight: bold;
  font-size: 30px;
  border-radius: 3px;
  width: 60px;
  height: 40px;
  background-color: black;
  opacity: 0.8;
  color: red;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 3rem;
  }

  .heading h3 {
    font-size: 2rem;
  }

  .container {
    height: 460px;
    width: 460px;
    margin: 0 auto;
  }

  .simon-board {
    position: relative;
    width: 450px;
    height: 450px;
    border: 5px solid black;
  }

  .segment {
    margin: 5px;
    width: 215px;
    height: 215px;
    float: left;
  }

  .inner-circle {
    position: absolute;
    border: 10px solid black;
    height: 250px;
    width: 250px;
    border-radius: 300px;
    top: 90px;
    left: 90px;
  }

  .inner-circle h2 {
    padding-top: 20px;
    margin: 20px;
    font-size: 50px;
    font-weight: normal;
    text-decoration: underline;
  }

  .score {
    position: inherit;
    left: 95px;
    bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  .heading h1 {
    font-size: 2rem;
  }

  .heading h3 {
    font-size: 1rem;
  }

  .container {
    height: 350px;
    width: 355px;
    margin: 0 auto;
  }

  .simon-board {
    position: relative;
    width: 350px;
    height: 350px;
    border: 2px solid black;
  }

  .segment {
    margin: 2px;
    width: 171px;
    height: 171px;
    float: left;
  }

  .inner-circle {
    font-size: 12px;
    position: absolute;
    border: 4px solid black;
    height: 200px;
    width: 200px;
    border-radius: 300px;
    top: 70px;
    left: 70px;
  }

  .inner-circle h2 {
    padding-top: 20px;
    margin: 20px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: underline;
  }

  .score {
    position: inherit;
    left: 85px;
    bottom: 20px;
  }

  .score p {
    font-weight: normal;
    font-size: 15px;
    border-radius: 3px;
    width: 30px;
    height: 20px;
  }
}
